body {
    background-color: #f0f0f0;
    margin: 1;
    display: flex;
    flex-direction: column;
}
button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}

.left-column {
    text-align: left;
    margin-top: 20px;
}
